In [1]:
%matplotlib ipympl
import matplotlib.pyplot as plt

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import geopandas as gp
from datetime import datetime
import geopandas as gpd
import seaborn as sns
import folium
from folium.features import GeoJsonTooltip
import matplotlib.pyplot as plt

# Set the column width
pd.set_option('max_colwidth', 400)

### Extract the 2023 Citi Bike Trip Data Data

In [3]:
# Read the July 2023 data into a Pandas DataFrame.
july_2023 = pd.read_csv('Resources/JC-202307-citibike-tripdata.csv')
july_2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,2023-07-17 17:16:34,2023-07-17 17:20:52,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,2023-07-26 19:40:15,2023-07-26 19:44:37,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,2023-07-01 12:12:22,2023-07-01 12:27:45,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,2023-07-20 19:10:18,2023-07-20 19:17:22,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,2023-07-07 19:33:59,2023-07-07 19:58:17,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual

In [ ]:
# Get a brief summary of the July 2023 DataFrame.
july_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106608 entries, 0 to 106607
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106608 non-null  object
 1   rideable_type       106608 non-null  object
 2   started_at          106608 non-null  object
 3   ended_at            106608 non-null  object
 4   start_station_name  106601 non-null  object
 5   start_station_id    106601 non-null  object
 6   end_station_name    106216 non-null  object
 7   end_station_id      106216 non-null  object
 8   start_lat           106608 non-null  float64
 9   start_lng           106608 non-null  float64
 10  end_lat             106486 non-null  float64
 11  end_lng             106486 non-null  float64
 12  member_casual       106608 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.6+ MB

In [8]:
# Remove rows with null values, change ride_id type to string, and create a cleaned dataframe.
cleaned_july_2023 = july_2023.dropna()

# Get a brief summary of the July 2023 DataFrame.
cleaned_july_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106216 entries, 0 to 106607
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106216 non-null  object
 1   rideable_type       106216 non-null  object
 2   started_at          106216 non-null  object
 3   ended_at            106216 non-null  object
 4   start_station_name  106216 non-null  object
 5   start_station_id    106216 non-null  object
 6   end_station_name    106216 non-null  object
 7   end_station_id      106216 non-null  object
 8   start_lat           106216 non-null  float64
 9   start_lng           106216 non-null  float64
 10  end_lat             106216 non-null  float64
 11  end_lng             106216 non-null  float64
 12  member_casual       106216 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.3+ MB

In [9]:
# Read the December 2023 data into a Pandas DataFrame.
december_2023 = pd.read_csv('Resources/JC-202312-citibike-tripdata.csv')
december_2023.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member

In [10]:
# Get a brief summary of the July 2023 DataFrame.
december_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58680 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58680 non-null  object
 1   rideable_type       58680 non-null  object
 2   started_at          58680 non-null  object
 3   ended_at            58680 non-null  object
 4   start_station_name  58676 non-null  object
 5   start_station_id    58676 non-null  object
 6   end_station_name    58441 non-null  object
 7   end_station_id      58441 non-null  object
 8   start_lat           58680 non-null  float64
 9   start_lng           58680 non-null  float64
 10  end_lat             58638 non-null  float64
 11  end_lng             58638 non-null  float64
 12  member_casual       58680 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB

In [11]:
# Remove rows with null values and create a cleaned dataframe.
cleaned_december_2023 = december_2023.dropna()

# Get a brief summary of the July 2023 DataFrame.
cleaned_december_2023.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58438 entries, 0 to 58679
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             58438 non-null  object
 1   rideable_type       58438 non-null  object
 2   started_at          58438 non-null  object
 3   ended_at            58438 non-null  object
 4   start_station_name  58438 non-null  object
 5   start_station_id    58438 non-null  object
 6   end_station_name    58438 non-null  object
 7   end_station_id      58438 non-null  object
 8   start_lat           58438 non-null  float64
 9   start_lng           58438 non-null  float64
 10  end_lat             58438 non-null  float64
 11  end_lng             58438 non-null  float64
 12  member_casual       58438 non-null  object
dtypes: float64(4), object(9)
memory usage: 6.2+ MB

### Extract the 2024 Citi Bike Trip Data Data

In [12]:
# Read the July 2023 data into a Pandas DataFrame.
july_2024 = pd.read_csv('Resources/JC-202407-citibike-tripdata.csv')
july_2024.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6B61E4880B1DE1E9,electric_bike,2024-07-31 12:06:49.628,2024-07-31 12:23:59.876,14 St Ferry - 14 St & Shipyard Ln,HB202,Brunswick & 6th,JC081,40.752961,-74.024353,40.726012,-74.050389,member
1,B593705A700E04B9,electric_bike,2024-07-01 07:53:20.019,2024-07-01 08:13:56.570,Leonard Gordon Park,JC080,McGinley Square,JC055,40.745717,-74.057247,40.725340,-74.067622,member
2,19CFBBAF90BF45B8,electric_bike,2024-07-30 14:57:29.219,2024-07-30 15:10:49.553,Liberty Light Rail,JC052,Hoboken Ave at Monmouth St,JC105,40.711242,-74.055701,40.735208,-74.046964,casual
3,8E6563C41AA8A1B4,electric_bike,2024-07-17 17:02:20.147,2024-07-17 17:04:50.818,Grand St & 14 St,HB506,Madison St & 10 St,HB503,40.754090,-74.031600,40.749943,-74.035865,member
4,44065C7E4AE573FA,electric_bike,2024-07-20 17:19:44.970,2024-07-20 17:39:09.894,Hoboken Terminal - River St & Hudson Pl,HB102,Madison St & 10 St,HB503,40.736068,-74.029127,40.749943,-74.035865,casual

In [13]:
# Get a brief summary of the July 2024 DataFrame.
july_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112443 entries, 0 to 112442
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             112443 non-null  object
 1   rideable_type       112443 non-null  object
 2   started_at          112443 non-null  object
 3   ended_at            112443 non-null  object
 4   start_station_name  112443 non-null  object
 5   start_station_id    112443 non-null  object
 6   end_station_name    112028 non-null  object
 7   end_station_id      111966 non-null  object
 8   start_lat           112443 non-null  float64
 9   start_lng           112443 non-null  float64
 10  end_lat             112388 non-null  float64
 11  end_lng             112388 non-null  float64
 12  member_casual       112443 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.2+ MB

In [14]:
# Remove rows with null values and create a cleaned dataframe.
cleaned_july_2024 = july_2024.dropna()

# Get a brief summary of the July 2024 DataFrame.
cleaned_july_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111966 entries, 0 to 112442
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             111966 non-null  object
 1   rideable_type       111966 non-null  object
 2   started_at          111966 non-null  object
 3   ended_at            111966 non-null  object
 4   start_station_name  111966 non-null  object
 5   start_station_id    111966 non-null  object
 6   end_station_name    111966 non-null  object
 7   end_station_id      111966 non-null  object
 8   start_lat           111966 non-null  float64
 9   start_lng           111966 non-null  float64
 10  end_lat             111966 non-null  float64
 11  end_lng             111966 non-null  float64
 12  member_casual       111966 non-null  object
dtypes: float64(4), object(9)
memory usage: 12.0+ MB

In [15]:
# Read the December 2024 data into a Pandas DataFrame.
december_2024 = pd.read_csv('Resources/JC-202412-citibike-tripdata.csv')
december_2024.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,28A17ACD224CD80B,electric_bike,2024-12-06 17:50:49.428,2024-12-06 17:54:20.070,Oakland Ave,JC022,Hilltop,JC019,40.737604,-74.052478,40.731169,-74.057574,member
1,3508393A86FBD357,classic_bike,2024-12-14 11:01:00.309,2024-12-14 11:12:01.382,Oakland Ave,JC022,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.737604,-74.052478,40.735938,-74.030305,member
2,75FA4C03A1447401,electric_bike,2024-12-24 08:07:17.475,2024-12-24 08:14:14.612,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
3,C7741EF495C597DD,classic_bike,2024-12-19 12:48:05.452,2024-12-19 12:54:15.253,Oakland Ave,JC022,Leonard Gordon Park,JC080,40.737604,-74.052478,40.745910,-74.057271,member
4,07952BB20B46C5B1,electric_bike,2024-12-17 11:19:37.631,2024-12-17 11:28:25.150,Oakland Ave,JC022,Grove St PATH,JC115,40.737604,-74.052478,40.719410,-74.043090,casual

In [16]:
# Get a brief summary of the July 2024 DataFrame.
december_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54833 entries, 0 to 54832
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             54833 non-null  object
 1   rideable_type       54833 non-null  object
 2   started_at          54833 non-null  object
 3   ended_at            54833 non-null  object
 4   start_station_name  54833 non-null  object
 5   start_station_id    54833 non-null  object
 6   end_station_name    54709 non-null  object
 7   end_station_id      54667 non-null  object
 8   start_lat           54833 non-null  float64
 9   start_lng           54833 non-null  float64
 10  end_lat             54817 non-null  float64
 11  end_lng             54817 non-null  float64
 12  member_casual       54833 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.4+ MB

In [17]:
# Remove rows with null values and create a cleaned dataframe.
cleaned_december_2024 = december_2024.dropna()

# Get a brief summary of the July 2024 DataFrame.
cleaned_december_2024.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54667 entries, 0 to 54832
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             54667 non-null  object
 1   rideable_type       54667 non-null  object
 2   started_at          54667 non-null  object
 3   ended_at            54667 non-null  object
 4   start_station_name  54667 non-null  object
 5   start_station_id    54667 non-null  object
 6   end_station_name    54667 non-null  object
 7   end_station_id      54667 non-null  object
 8   start_lat           54667 non-null  float64
 9   start_lng           54667 non-null  float64
 10  end_lat             54667 non-null  float64
 11  end_lng             54667 non-null  float64
 12  member_casual       54667 non-null  object
dtypes: float64(4), object(9)
memory usage: 5.8+ MB

In [ ]:
# Merge the cleaned data on thhe ride_id.
merged_df = pd.concat([cleaned_july_2023, cleaned_december_2023, cleaned_july_2024, cleaned_december_2024], ignore_index=True)
merged_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7A68381621C25F78,classic_bike,2023-07-17 17:16:34,2023-07-17 17:20:52,Astor Place,JC077,Communipaw & Berry Lane,JC084,40.719225,-74.071281,40.714358,-74.066611,member
1,0F814CA67B2FA120,classic_bike,2023-07-26 19:40:15,2023-07-26 19:44:37,Adams St & 2 St,HB407,9 St HBLR - Jackson St & 8 St,HB305,40.739727,-74.036866,40.747907,-74.038412,member
2,775A38967EBF5FB4,electric_bike,2023-07-01 12:12:22,2023-07-01 12:27:45,McGinley Square,JC055,Riverview Park,JC057,40.725340,-74.067622,40.744319,-74.043991,member
3,D93B742DCE1C1447,classic_bike,2023-07-20 19:10:18,2023-07-20 19:17:22,Baldwin at Montgomery,JC020,Brunswick St,JC023,40.723455,-74.064359,40.724176,-74.050656,member
4,AA7A6863B4B92169,electric_bike,2023-07-07 19:33:59,2023-07-07 19:58:17,Baldwin at Montgomery,JC020,Mama Johnson Field - 4 St & Jackson St,HB404,40.723659,-74.064194,40.743140,-74.040041,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
331282,7E81F3435D05D1F4,electric_bike,2024-12-28 09:45:30.704,2024-12-28 09:48:02.706,Marin Light Rail,JC013,Exchange Pl,JC116,40.714584,-74.042817,40.716366,-74.034344,member
331283,70499242367CEA82,classic_bike,2024-12-12 16:21:50.427,2024-12-12 16:26:34.069,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member
331284,146BB7BEE3C31DAC,classic_bike,2024-12-11 19:23:24.109,2024-12-11 19:25:07.612,Grove St PATH,JC115,Manila & 1st,JC082,40.719410,-74.043090,40.721651,-74.042884,member
331285,ADA14EC995D83769,classic_bike,2024-12-12 20:48:40.471,2024-12-12 20:52:41.722,Grove St PATH,JC115,Exchange Pl,JC116,40.719410,-74.043090,40.716366,-74.034344,member
331286,214E88D0B0FCBA75,classic_bike,2024-12-04 18:14:12.686,2024-12-04 18:19:02.621,Marin Light Rail,JC013,Manila & 1st,JC082,40.714584,-74.042817,40.721651,-74.042884,member

In [22]:
# Save merged_df to csv.
merged_df.to_csv('merged_data.csv', index=False)  # index=False prevents writing row indices to the file